@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');
.button {
    display: flex;
    border-radius: 40px;
    padding: 3px 10px 3px 10px;
    border-style: none;
    background-color: var(--main-color);
    color: var(--main-text-color);
}

.button:active {
    background-color: var(--clicked-color);
    color: var(--clicked-text-color);
}

:root {
    --main-color: #6333FF;
    --clicked-color: #DCD3FB;
    --main-text-color: #FFFFFF;
    --clicked-text-color: #6333FF;
    --second-text-color: #000000;
    --coin-color: #392284;
    --tag-color: #A4A4A4;
    --add-tag-color: #EBEBEB;
}

.text-base{
    font-family: 'Prompt', sans-serif;
    letter-spacing: -0.02em;
}
.text-tag {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
}

.text-body {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.text-button {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

.text-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.loop{
    width: 48px;
    height: 48px;
    border-radius: 50px;
    align-items: center;
    border-radius: 50%;

}