@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');
.button {
    display: flex;
    border-radius: 40px;
    padding: 3px 10px 3px 10px;
    border-style: none;
    background-color: var(--main-color);
    color: var(--main-text-color);
}

.button:active {
    background-color: var(--clicked-color);
    color: var(--clicked-text-color);
}

:root {
    --main-color: #6333FF;
    --clicked-color: #DCD3FB;
    --main-text-color: #FFFFFF;
    --clicked-text-color: #6333FF;
    --second-text-color: #000000;
    --coin-color: #392284;
    --tag-color: #A4A4A4;
    --add-tag-color: #EBEBEB;
}

.text-base{
    font-family: 'Prompt', sans-serif;
    letter-spacing: -0.02em;
}
.text-tag {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
}

.text-body {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.text-button {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

.text-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.loop{
    width: 48px;
    height: 48px;
    border-radius: 50px;
    align-items: center;
    border-radius: 50%;

}

.button_filtre {

    font-family: 'Prompt', sans-serif;
    letter-spacing: -0.02em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px 14px;
    gap: 10px;
    
    width: 59px;
    height: 27px;
    
    background: #DCD3FB;
    border-radius: 40px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    stroke: none;
    text-decoration: none;
    border-style: none;
    
    }
    
.tag{
    
    width: 22px;
    height: 15px;
        
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.02em;
        
    color: #FFFFFF;
        
    flex: none;
    order: 0;
    flex-grow: 0;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px 10px;
    gap: 10px;
        
    width: 42px;
    height: 21px;
    left: 99px;
    top: 542px;
    
        
    background: #A4A4A4;
    border-radius: 40px;
    border-style: none;
    
    }
    
.tag2{
    
    width: 22px;
    height: 15px;
        
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.02em;
        
    color: #FFFFFF;
        
    flex: none;
    order: 0;
    flex-grow: 0;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px 10px;
    gap: 10px;
        
    width: 42px;
    height: 21px;
    left: 99px;
    top: 542px;
    
        
    background: rgba(124, 124, 124, 1);
    border-radius: 40px;
    border-style: none;
    
    }
    
    
.editable-button{
    
    width: 74px;
    height: 15px;
    
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.02em;
    
    color: #A4A4A4;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px 10px;
    gap: 10px;
    
    width: 94px;
    height: 21px;
    left: 64px;
    top: 435px;
    
    background: #EBEBEB;
    border-radius: 40px;
    border-style: none;
    
    }

    body {
        background-image: url(https://placekitten.com/200/300);
      }
      
      
      .navbar {
        position:fixed;
        bottom: 0;
      }
      
      .bar {
        height: 46px;
        width: 288px;
        background-image: url("data:image/svg+xml,%3Csvg width='288' height='46' viewBox='0 0 288 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M143.5 33C158.688 33 171 20.6878 171 5.5C171 3.61644 170.811 1.7771 170.45 0H268C279.046 0 288 8.95431 288 20V26C288 37.0457 279.046 46 268 46H20C8.9543 46 0 37.0457 0 26V20C0 8.95431 8.95431 0 20 0H116.55C116.189 1.7771 116 3.61644 116 5.5C116 20.6878 128.312 33 143.5 33Z' fill='black'/%3E%3C/svg%3E ");  background-position: 50% 50%;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 1.2fr .1fr 1.7fr .1fr 1.2fr
      }
      
      .icons {
        display: inline-block;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .circle {
        position: absolute;
        top: -17px;
        left: 50%;
        margin-left: -22px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #6333FF;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    