.button {
    border-radius: 40px;
    padding: 3px, 10px, 3px, 10px;
    border-style: none;
    background-color: var(--main-color);
    color: var(--main-text-color);
}

:root {
    --main-color: #6333FF;
    --clicked-color: #DCD3FB;
    --main-text-color: #FFFFFF;
    --clicked-text-color: #6333FF;
    --second-text-color: #000000;
}
