@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');

/* STYLE BUTTON PRIMARY */

.button {
    display: flex;
    border-radius: 40px;
    padding: 3px 10px 3px 10px;
    border-style: none;
    background-color: var(--main-color);
    color: var(--main-text-color);
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button:active {
    background-color: var(--clicked-color);
    color: var(--clicked-text-color);
}

/* STYLE BUTTON SECONDARY */

.button2 {
    display: flex;
    border-radius: 40px;
    padding: 3px 10px 3px 10px;
    border-style: none;
    background-color: var(--main-text-color);
    color: var(--clicked-text-color);
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button2:active {
    background-color: var(--clicked-color);
    color: var(--clicked-text-color);
}

/* STYLE BUTTON point */

.buttonp {
    display: flex;
    border-radius: 40px;
    border-style: none;
    padding: 3px 10px 3px 10px;
    background-color: var(--clicked-color);
    color: var(--main-color);
    width: fit-content;
}

/* STYLE BUTTON nombre de porteurs */

.buttonv {
    display: flex;
    border-radius: 40px;
    border-style: none;
    padding: 6px 6px 6px 6px;
    background-color: var(--clicked-color);
    color: var(--main-color);
}

/* STYLE COLOR & TEXT */

:root {
    --main-color: #6333FF;
    --clicked-color: #DCD3FB;
    --main-text-color: #FFFFFF;
    --clicked-text-color: #6333FF;
    --second-text-color: #000000;
    --coin-color: #392284;
    --tag-color: #7C7C7C;
    --add-tag-color: #EBEBEB;
}

.text-base{
    font-family: 'Prompt', sans-serif;
    letter-spacing: -0.02em;
}
.text-tag {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
}

.text-impact {
    font-size: 13px;
    font-weight: 500;
    line-height: 18.14px;
}

.text-body {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.text-button {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

.text-button2 {
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
}

.text-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

/* HEADER WITH POINTS & ICONS */

.heade {
    width: 320px;
    height: 83px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    margin: 0px 19px 0px 12px;
    background-color: #fff;
    padding-left: 10px;
}

/* Affichage coins */
    
.coins {
    color: var(--main-text-color);
    background-color: var(--coin-color);
    width: fit-content;
    height: 27px;
    display: flex;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border-style: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 147px;
}

/* valeur coins */

.point {
    color: var(--coin-color);
    background-color: var(--main-text-color);
    border-radius: 50%;
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 21px;
    
}

.iconb {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* TITRE DE LA PAGE */

.title {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 70px 19px -0px 19px;
}

a {
    text-decoration: none;
}

a .tc {
    color: var(--second-text-color);
}

a p {
    color: var(--tag-color);
}

body {
    transition: 0.75s;
}

.gridlist {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 15px;

    margin: 20px 19px 100px 10px;

}

.contact {
    width: 284px;
    height: 74px;   
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px var(--second-text-color) solid;
    border-radius: 15px;
}

.tc {
    margin-bottom: -10px;
    margin-top: 10px;
}

.img {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.ct1 {
    background-image: url(img/marcùs\ tessier.png);
}

.ct2 {
    background-image: url(img/justine\ charriot.png);
}

.ct3 {
    background-image: url(img/emily\ monpierre.png);
}

.ct4 {
    background-image: url(img/jules\ fourier.png);
}

.ct5 {
    background-image: url(img/paul\ duboi.png);
}

/* BARRE DE NAVIGATION EN POSITION FIXE */

.navbar {
    position:fixed;
    left: 16px;
    top: 506px;
}

.bar {
    height: 46px;
    width: 288px;
    background-image: url("data:image/svg+xml,%3Csvg width='288' height='46' viewBox='0 0 288 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M143.5 33C158.688 33 171 20.6878 171 5.5C171 3.61644 170.811 1.7771 170.45 0H268C279.046 0 288 8.95431 288 20V26C288 37.0457 279.046 46 268 46H20C8.9543 46 0 37.0457 0 26V20C0 8.95431 8.95431 0 20 0H116.55C116.189 1.7771 116 3.61644 116 5.5C116 20.6878 128.312 33 143.5 33Z' fill='black'/%3E%3C/svg%3E ");  background-position: 50% 50%;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1.2fr .1fr 1.7fr .1fr 1.2fr
}
      
.icons {
    display: inline-block;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
      
.circle {
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -22px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

