@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');

.button_filtre {

font-family: 'Prompt', sans-serif;
letter-spacing: -0.02em;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 14px;
gap: 10px;

width: 59px;
height: 27px;

background: #DCD3FB;
border-radius: 40px;

flex: none;
order: 0;
flex-grow: 0;
stroke: none;
text-decoration: none;
border-style: none;

}
